html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

h1,
h3,
p {
  margin: 0;
}

#cityTitle {
  font-size: 60px;
  text-align: center;
  margin: auto;
}

.didYouMean {
  text-align: center;
  margin:auto;
}

.didYouMean h3 {
  margin-top: 15px;
  margin-right: 550px;
  font-weight: lighter;
  font-size: 25px;
  color: silver;
}


.didYouMean ul li {
  display: inline-block;
  margin: 20px;
  font-size: 20px;
}

.didYouMean li:hover {
  color: orange;
}

.container {
  padding: 10px;
  margin: 5px;
  text-align: center;
  margin: 20px;;
}

.inputDiv {
  text-align: center;
  margin: 40px;
  position: relative;
}

#cityName {
  width: 40%;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

#getWeatherButton {
  width: 20%;
  height: 56px;
  font-size: 23px;
  color: #16a9b8;
  vertical-align: top;
  margin-right: 90px;
  @media (max-width: 790px) {
    width: 30%;
    font-size: 16px;
  }
}

#unit {
  width: 6%;
  height: 30px;
  vertical-align: top;
  position: absolute;
  top: -2px;
  right: 40px;
  font-size: 16px;
  color: grey;
}

.weatherDiv {
  border: 2px solid black;
  height: 280px;
  width: 200px;
  background-color: white;
  display: inline-block;
  color: #16a9b8;
  text-align: center;
  margin: 10px;
}

.day {
  font-size: 25px;
  padding:5px;
}

.textDiv h1, h3, p {
  padding-top: 5px;
}

.icon {
  background-image: url('/assets/rainy.svg');
  background-size: 70%;
  height: 40%;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 10px;
}

.textDiv {
  margin-top: -13px;
  padding: 20px;
}





